/* LoginPopper.module.css */

/* Modal Content */
.modalContent {
    background-color: #faf3dc !important;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
    width: 500px; /* Default width for md and above */
}

@media (max-width: 48em) { /* Chakra's md breakpoint is 48em */
    .modalContent {
        width: 90%; /* 90% width for smaller screens */
    }
}

/* Modal Header */
.modalHeader {
    font-size: 1.75rem; /* Equivalent to fontSize="xl" */
    font-weight: bold;
    color: #2d3748; /* Chakra's gray.800 */
    text-align: center !important;
}

/* Modal Close Button */
.modalCloseButton {
    color: #333333 ; /* Chakra's gray.600 */
}

/* Form Labels */
.formLabel {
    font-weight: 600;
    color: #000; /* Chakra's gray.800 */
}

/* Input Fields */
.input {
    border-color: #333333 !important; /* Chakra's gray.300 */
}

.input:focus {
    border-color: #333333 !important; /* Chakra's blue.500 */
    box-shadow: 0 0 0 1px #333333;
}

/* Submit Button */
.submitButton {
    background-color: #333333 !important; /* Chakra's blue.600 */
    color: white !important;
    transition: background-color 0.2s ease-in-out;

}

.submitButton:hover {
    background-color: #3E3E3E !important; /* Chakra's blue.700 */
}

/* Cancel Button */
.cancelButton {
    color: #333333; ; /* Chakra's gray.500 */
    transition: color 0.2s ease-in-out;
}

.cancelButton:hover {
    color: #333; /* Chakra's gray.600 */
}
